* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightgrey;
  display: inline-block;
}

header {
  background-color: slategray;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  border-style: inset;
  border-width: 0.15rem;
}

header h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}

header li {
  list-style-type: none;
  border-style: inset;
  border-width: 0.15rem;
  padding: 0.5rem;
  font-weight: 700;
}

header li:hover {
  transition: all 2500ms ease-out;
  background-color: rgb(202 202 218);
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

article {
  padding: 2rem;
  padding-bottom: 10rem;
}

article figure h3 {
  padding: 1rem;
  text-align: center;
}

article figure img {
  max-height: 200px;
  max-width: 250px;
  float: left;
  margin-right: 25px;
  border-style: inset;
}

section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

section h3 {
  padding: 0.5rem;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.container1 img {
  max-height: 235px;
  max-width: 285px;
  position: relative;
  border-style: inset;
  border-width: 0.25rem;
}

.container1 img:hover {
  transform: scale(1.05, 1.05);
}

.container1 .text1 {
  position: relative;
  bottom: 25px;
  left: 5px;
}
.container2 img {
  max-height: 200px;
  max-width: 250px;
  position: relative;
  border-style: inset;
  border-width: 0.25rem;
}

.container2 img:hover {
  transform: scale(1.05, 1.05);
}

.container2 .text2 {
  position: relative;
  bottom: 25px;
  left: 5px;
}
.container3 img {
  max-height: 200px;
  max-width: 250px;
  position: relative;
  border-style: inset;
  border-width: 0.25rem;
}

.container3 img:hover {
  transform: scale(1.05, 1.05);
}

.container3 .text3 {
  position: relative;
  bottom: 25px;
  left: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer img {
  max-height: 40px;
  max-height: 40px;
}

footer ol {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

footer li {
  list-style-type: none;
  padding: 10px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  main,
  header ul,
  footer ul {
    flex-direction: column;
  }
  /*cheap way to correct 'stray I' next to image.*/
  article figure img {
    margin-right: 100px;
  }
}
