* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightgrey;
  display: inline-block;
}

header {
  background-color: slategray;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}

li {
  list-style-type: none;
  border-style: inset;
  border-width: 0.25rem;
  padding: 0.5rem;
}

li:hover {
  transition: all 3000ms ease-out;
  background-color: rgb(202 202 218);
}

ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  text-decoration: underline;
}

article {
  padding: 2rem;
  height: 100%;
  max-width: 75%;
  padding-bottom: 10rem;
}

article figure h3 {
  padding: 1rem;
  text-align: center;
}

article figure img {
  max-height: 200px;
  max-width: 250px;
  float: left;
  margin-right: 25px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

section h3 {
  padding: 0.5rem;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.container1 img {
  max-height: 225px;
  max-width: 275px;
  position: relative;
  border-style: inset;
  border-width: 0.25rem;
}

.container1 img:hover {
  transform: scale(1.05, 1.05);
}

.container1 .text1 {
  position: relative;
  bottom: 25px;
  left: 5px;
}
.container2 img {
  max-height: 200px;
  max-width: 250px;
  position: relative;
  border-style: inset;
  border-width: 0.25rem;
}

.container2 img:hover {
  transform: scale(1.05, 1.05);
}

.container2 .text2 {
  position: relative;
  bottom: 25px;
  left: 5px;
}
.container3 img {
  max-height: 200px;
  max-width: 250px;
  position: relative;
  border-style: inset;
  border-width: 0.25rem;
}

.container3 img:hover {
  transform: scale(1.05, 1.05);
}

.container3 .text3 {
  position: relative;
  bottom: 25px;
  left: 5px;
}
